.kaitify-menu {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px;
  position: relative;

  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    outline: none;
  }

  .kaitify-menu-caret {
    font-size: 12px;
    transform: scale(0.72);
    margin-left: 4px;
    transition: transform 300ms linear;

    &.kaitify-menu-caret-rotate {
      transform: scale(0.72) rotate(180deg);
    }
  }
}

.kaitify-menu-options {
  padding: @small-padding 0;

  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    outline: none;
  }

  .kaitify-menu-option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: @small-padding @padding;
    font-size: @font-size;
    line-height: @line-height;
    color: @font-color;
    transition: background 300ms, color 300ms;

    .kaitify-menu-option-icon {
      margin-right: 4px;
    }

    &:not(.kaitify-disabled):hover {
      cursor: pointer;
      background: @lightest-theme;
      color: @theme;
    }

    &:not(.kaitify-disabled):active {
      background: @lighter-theme;
      color: @theme;
    }

    &:not(.kaitify-disabled).kaitify-menu-option-active {
      background: @lighter-theme;
      color: @theme;
    }

    &.kaitify-disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &.kaitify-dark {
    .kaitify-menu-option {
      color: @font-color-dark;
    }
  }
}
