button.kaitify-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	appearance: none;
	background: transparent;
	border: none;
	color: #333;
	font-size: 14px;
	height: 32px;
	padding: 0 10px;
}
